:root {
    --cell-width: 10vh;
    --var-piece-size: 35px;
}


body {
    margin:auto;
    background: rgb(41, 37, 33);
}

.container {
    margin: auto;
    
    width: 100%;
    height: 100%;

    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 10px;
    background: rgb(41, 37, 33);
}

/*
.container div {
    border: 0.1px solid rgb(235, 87, 87);
    gap:0;
    margin: 0;
}
*/

.header {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-variant-caps: small-caps;
    position: absolute;
    
    top: 0;
    height: fit-content;
    width: 100%;
    left: 0;
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height:fit-content;
    background-color: #333333;
}

.tabs {
    float: left;
    list-style-type: none;
}

.tabs a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.illustration {
    position: absolute;
    left: 10px;
    width: 9.7%;
    top: 60px;
    height: 89%;
    display: none;

    background: rgb(28, 24, 24);
}

#helperText {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;
    color: white;
    vertical-align: middle;
    padding-top: 35vh;
}

.wrap {
    position: relative;
    left: 15%; /*vertical important*/
    right: 100%;
    top: 80px; /*vertical important*/
    width: 80%;
    height: 80%; /*vertical important*/
    z-index: 0;
}

.game_stuff {
    color: white;
    width: 90%;

    position: relative;
    
    left: 0;
    top: 20px;
    height: 100%;
}

#game_board {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    min-width: calc(8* var(--cell-width));
    top:500px;
}

.cell {
    background-color: #e8c098;
    text-align: center;
    position: relative;
    justify-content: center;
    margin-bottom: 2%;
    align-items: center;
    font-size: 35px;

    box-sizing: border-box;

    width: var(--cell-width);
    height: var(--cell-width);
    z-index: 2;
    cursor: pointer;
}


.moveableCell {
    /*border: 3px solid #a234d4;*/
    border: 3px solid purple;

    background-color: #e8c098;
    text-align: center;
    position: relative;
    justify-content: center;
    margin-bottom: 2%;
    align-items: center;
    font-size: var(--var-piece-size);

    box-sizing: border-box;

    width: var(--cell-width);
    height: var(--cell-width);
    z-index: 2;
    cursor: pointer;
}

.moveableSelected {
    background-color: #e2b07e;
    text-align: center;
    position: relative;
    justify-content: center;
    margin-bottom: 2%;
    align-items: center;
    font-size: var(--var-piece-size);

    box-sizing: border-box;

    width: var(--cell-width);
    height: var(--cell-width);
    z-index: 4;
    cursor: pointer;
    
    border: 3px solid #5fa2d7;
}

.targetCell {
    background-color: #e2b07e;
    text-align: center;
    position: relative;
    justify-content: center;
    margin-bottom: 2%;
    align-items: center;
    font-size: var(--var-piece-size);

    box-sizing: border-box;

    width: var(--cell-width);
    height: var(--cell-width);
    z-index: 4;
    cursor: pointer;
    border: auto;

    border: 2px solid #db3a3c;
}


.rowIndexCell {
    color: #f4d6b9;
    text-align: center;
}

.columnIndexCell {
    color: #f4d6b9;
    text-align: center;
}

a {
    font-style: italic;
    font-weight: bold;
}

.player1 {
    color: white;
    position: absolute;
    top: 10px; /*vertical important*/
    height: fit-content; /*vertical important*/
    left: -50px; /*vertical important*/
}

.game_moves{
    color: white;
    position: absolute;
    top: 5%; /*vertical important*/
    /*bottom: 50%; vertical important*/
    right: -35px;  /*vertical important*/
    width: fit-content;
    left: 300px;
}

.moves {
    color: white;
    list-style-type: none;
    position: absolute;
    overflow-y:scroll;
    height: 200px;
    width: 250px;
    top: 35px;

    font-size: small;
    background-color: rgb(28, 24, 24);
    border-radius: 10px;

    padding-top: 20px;
}

.li {
    padding: 3px;
}

.player2 {
    color: white;
    position: absolute;
    top: 190px; /*vertical important*/
    left: -50px;  /*vertical important*/
    height: fit-content;  
}

.playerName {
    text-align: center;
    color: white;
    background-color: rgb(41, 37, 33);
    border: none;
}

.playerIcon {
    /*vertical important fix position*/
    color: white;
    border-radius: 10vw;
    border: 1px solid whitesmoke;
    min-width: 100px;
    min-height: 100px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    background-position: center;
}

.takeBack {
    color: white;
    cursor: pointer;
    background:rgb(28, 24, 24);
    padding: 4px;
    border-radius: 3px;
    font-size: small;
    text-align: center;
}

div .takeBack:hover {
    background: rgb(247, 171, 184);
    color:rgb(41, 37, 33);
}

.resign:hover {
    background: rgb(247, 171, 184);
    color:rgb(41, 37, 33);
}

.draw:hover {
    background: rgb(247, 171, 184);
    color:rgb(41, 37, 33);
}

.draw {
    color: white;
    cursor: pointer;
    background:rgb(28, 24, 24);
    padding: 4px;
    border-radius: 3px;
    font-size: small;
    text-align: center;
}

.resign {
    color: white;
    cursor: pointer;
    background:rgb(28, 24, 24);
    border-radius: 3px;
    padding: 4px;
    font-size: small;
    text-align: center;
}

.wins {
    font-size: small;
    padding: 5px;
}

.losses {
    font-size: small;
    padding: 5px;
}

.draws {
    font-size: small;
    padding: 5px;
}

.stats {
    background:rgb(28, 24, 24);
    border-radius: 3px;
    padding: 4px;
}

#result_dialog
{
    background: none;
    border: none;
    filter: drop-shadow(4px 4px 2px black);
    height: 60%;
    position: absolute;
    text-align: center;
    width: 90%;
    top: 30vh;
}

#result_dialog::backdrop
{
    backdrop-filter: blur(2px);
    background-image: url("/assets/confetti.gif");
}

#result_dialog h2
{
    color: rgb(204, 149, 209);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100pt;
    margin: 0;
}

#result_message
{
    font-size: 24pt;
    font-weight: bold;
    line-height: 2;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#result_winner
{
    font-size: 18pt;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.chooseIcon {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
    border: none;
    background-color: rgb(28, 24, 24);
    border-radius: 4px;

    color: white;
}

.chooseIcon::backdrop
{
    backdrop-filter: blur(2px); 
}

.iconImage {
    border: 2px solid white;
    padding: 3px;
    height: fit-content;
    width:fit-content;
}

/*Tutorial CSS Section*/

.starterMessage {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
}

h5 {
    top: 0;
    font-size: xx-large;
}

h6 {
    top: 0;
    font-size: large;
}

.topBar {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: auto;
    padding: 30px;
    top: -100px;
    width: fit-content;
    position: absolute;
    left: 0;
}

.explainIcon {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    width: 300px;
    right: -50px;
}

.explainTakeBack {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    width: 300px;
    right: -50px;
    height: fit-content;
}

.explainDraw {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    width: 300px;
    right: -50px;
    height: fit-content;
}


.explainResign {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    width: 300px;
    right: -50px;
    height: fit-content;
}

.explainWins {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    width: 300px;
    right: -50px;
    height: fit-content;
}

.explainMoveEncode {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    width: 300px;
    right: -50px;
    height: fit-content;
}

.explainHelperText {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    width: 200px;
}

.AimofTheGame {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    width: 300px;
    top: 20px;
    height: 400px;
}

.explainMovePiece {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    width: 300px;
    top: 20px;
    height: 400px;
}

.explainTargetPiece {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    width: 300px;
    top: 20px;
    height: 400px;
}

.explainResize {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    width: 350px;
}

.explainNavigation {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    width: 350px;
}

.referToAbout {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
}

.endTutorialMessage {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(69, 67, 100);
    border-radius: 9px;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: xx-large;
}